<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='/css/style.css' rel='stylesheet' type="text/css">
    <title><%= parkname %></title>
</head>
<body>
    <div id=parkResults>
        <h1>View the stars at <%= parkname %></h1>
        <p>name: <%= parkname %> </p><br>
        <p>id: <%= parkid %> </p><br>
        <p>light pollution: <%= parklightpol %> </p><br>
    </div>
    
</body>
</html>