<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='/css/style.css' rel='stylesheet' type="text/css">
    <title>Results</title>
</head>
<body>
    <div id="map">
    <% var lat = location[0]; %>
    <% var lng = location[1]; %>
    <script>
        // Initialize and add the map
        function initMap() {
            //Initialize map info
            var infowindow = null;
            var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
            var icons = {
                currentLocation: {
                    icon: 'http://maps.google.com/mapfiles/kml/shapes/placemark_circle.png',
                    center: new google.maps.Point(15,17)
                },
                park: {
                    icon: 'http://maps.google.com/mapfiles/kml/pal2/icon4.png',
                    center: new google.maps.Point(16,16)
                },
                parkUnknown: {
                    icon: 'http://maps.google.com/mapfiles/kml/pal2/icon12.png',
                    center: new google.maps.Point(16,16)
                }
            };

            // Current location
            var location = {lat: <%= lat %>, lng: <%= lng %>};
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: location});
            
            var markerCurrentLocation = new google.maps.Marker({
                position: location,
                icon: {
                    url: icons.currentLocation.icon,
                    anchor: new google.maps.Point(15,17)
                },
                map: map
            });

            bounds  = new google.maps.LatLngBounds();
            bounds.extend(location);
            
            //loc = new google.maps.LatLng(marker<%=i%>.position.lat(), marker<%=i%>.position.lng());
            //bounds.extend(location);
            
            //Parks loop
            <% for (var i = 0; i < parks.length ; i++) { %>

                //Initialize marker
                marker<%=i%> = new google.maps.Marker({
                    position: { lat: <%= parks[i].lat %>, lng: <%= parks[i].lng %> },
                    map: map,
                    title: "<%= parks[i].name %>",
                    icon: {
                        url: ("<%= parks[i].name %>" == "Unknown" ? icons.parkUnknown.icon : icons.park.icon),
                        anchor: icons.park.center,
                        scaledSize: new google.maps.Size(21, 21),
                    }
                });

                //Update map bounds
                //var loc = new google.maps.LatLng(marker<%=i%>.position.lat(), marker<%=i%>.position.lng());
                bounds.extend(marker<%=i%>.position);

                //Initialize infowindow at markervar
                contentString<%=i%> = `
                <b><%= parks[i].name %></b><br>
                <%= parks[i].light_pol %><br>
                <a href="park/<%= parks[i].id %>">More info</a>
                `;
                marker<%=i%>.addListener('click', function() {
                    if (infowindow) {
                        infowindow.close();
                    }
                    infowindow = new google.maps.InfoWindow({
                        content: contentString<%=i%>
                    });
                    infowindow.open(map, marker<%=i%>);
                    map.setCenter(marker<%=i%>.position);
                });

            <% } %>  

            if (<%=parks.length%> > 0) {
                //Center the map
                map.fitBounds(bounds); 
                map.panToBounds(bounds);
            }
        }
    </script> 
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%=mapAPIKey%>%>&callback=initMap">
    </script>
    </div>
    <div id="results-table">
        <table>
            <tr>
                <th>Park Name</th>
                <th>Light Pollution</th>
                <th>Distance</th>
            </tr>
            <% for(var i=0; i < parks.length; i++) { %>
                <tr>
                    <!--<td><a href="park/<%= parks[i].id %>" ><%= parks[i].name %></a></td>-->
                    <td><a href="javascript:void(0);" style="text-decoration: none; color:black;" onclick="google.maps.event.trigger(marker<%=i%>, 'click')" ><%= parks[i].name %></a></td>
                    <td><%= parks[i].light_pol %></td>
                    <td><%= parks[i].distance %></td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>